<footer>
  <div>
    <a href="/about/contact">Contact us</a> |
    <a href="/about/our_company">About our company</a> |
    <a href="/blog">Blog</a> |
    <a href="/">Home</a> |
    <a href="#">Top of page</a>
    <address>
      <p>
        Service Rite USA<br>
        4608 Pierce Drive<br>
        Lincoln, NE 68504
      </p>
      <p>
        ✉️ info@serviceriteusa.com <br>
        📞 1 (402) 413-8888 <br>
      </p>
    </address>
    <p>
      <strong>POSTED IN ACCORDANCE WITH STATE LAWS</strong><br>
      <i>Oregon State License #:</i> 237191<br>
      <i>Washington State License #:</i> ROOFRRL802RZ<br>
      <i>Kansas State License #:</i> 21-013251<br>
      <br>

      Website &copy; 2025 Service Rite USA


    </p>
  </div>
</footer>
