<nav id="mainnav" class="hiddennav">
  <div class="dropdown">
    <button class="dropbtn">About Us</button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about/our_company">Our Company</a>
      <a href="/about/contact">Contact us</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Services</button>
    <div class="dropdown-content">
      <a href="/fire">Fire</a>
      <a href="/water">Water</a>
      <a href="/mold">Mold</a>
      <a href="/storm">Storm</a>
    </div>
  </div>
</nav>
