/* content margins */
body, html {
  margin: 0; padding: 0;
  font-family: 'Work Sans';
  background-color: #DDD;

}
nav > ul,
footer > div,
header > div,
main > p,
main > div,
main > figure,
main > h2,
section > p {
  margin-left: 5vw;
  margin-right: 5vw;
}
img {
  max-width: 100%;
}

/* header */
.logo-header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 200px;
  border: none;
  margin-top: 30px;
}
#contact {
  margin-top: 60px;
  color: #232E5E;
  display: none; /* remove on mobile */
}
#contact a {
  text-decoration: none;
}
#contact-mobile {
  background-color: #232E5E;
  color: white;
  text-align: center;
  padding: 15px;
}
#contact-mobile a {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 4px 25px 5px 25px;
}
.button {
  background-color: #232E5E;
  color: white;
  padding: 10px;
  border: 1px solid white;
  font-size: 13pt;
}
#hamburger {
  min-height: 100%;
  margin-right: 0;
  padding: 30px 25px 0 20px;
  background-color: none;
}
/* classes added or removed by hamburger button */
.hiddennav {
  display: none;
}
.hamhlight {
  background-color: #9BA5D4;
}

/* nav */
nav {
  background-color: #232E5E;
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}
nav > ul > li {
  display: inline-block;
  padding-right: 20px;
}
nav > ul {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column; /* mobile */
}

/* nav drop-down menu */

/* Dropdown Button */
.dropbtn {
  background-color: #232E5E;
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-right: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

/* sizes */

@media (min-width: 800px) {
  /* body {background-color: green;} */
  nav > ul, main {
    flex-direction: row;
  }
  .rightfig > img {
    max-width: 450px;
  }
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  .card {
    max-width: 40%;
  }
  .cardrow {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .locationsrow {
    flex-direction: row;
  }
  .locationsrow > img {
    max-width: 60%;
  }
}

@media (min-width: 1000px) {
  /* body {background-color: blue;} */
  .viewport-header > h1 {font-size: 6vw;}
  #contact{display: inline;}
  #hamburger{display: none;}
  .hiddennav{display: flex;}
  .card {max-width: 18%}
  .contact-form {display: block;}
  #contact-mobile {display: none;}
  .quotes blockquote {width: 500px; font-size: 24px;}
  .quotes p {font-size: 20px;}
}

